.single-blog{
    margin-top: 50px;
    background-color: $white;
    transition: 0.5s linear;
    &:hover{
        .blog-thumbnail{
            img{
                transform: scale(1.4);
            }
        }
    }
}

.blog-thumbnail{
    border-radius: 5px;
    overflow: hidden;
    img{
        transition: 0.5s linear;
    }
}

.blog-info-content{
    padding: 20px;
}

.blog-meta{
    margin-bottom: 10px;
    a{
        font-family: $robotoFont;
        font-weight: 400;
        &:nth-child(1){
            font-size: 14px;
            color: $titleColor;
            line-height: 21px;
            transition: 0.3s;
            &:hover{
                color: $hoverColor;
            }
        }
        &:nth-child(2){
            font-size: 15px;
            color: $bodyColor;
            line-height: 22.5px;
        }
    }
}

.blog-title{
    margin-bottom: 10px;
    a{
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 600;
        color: $titleColor;
        line-height: 28px;
        transition: 0.3s;
        &:hover{
            color: $themeColor;
        }
    }
}

.blog-text{
    p{
        font-family: $robotoFont;
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
        line-height: 25.5px;
    }
}