//font family included
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$interFont: 'Inter', sans-serif;

//solid color
$white: #fff;
$black: #000;
$yellow: yellow;

//theme color
$themeColor: #003379;
$bodyColor: #212529;

//text color
$titleColor: #003379;
$textColor: #49495c;
$inputColor: #6c757d;

//background color
$bgColor: #00A65C;