.single-blog{
    margin-bottom: 30px;
    padding: 40px 25px 40px 30px;
    border: 1px solid $borderColor;
    transition: 0.3s;
    &:hover{
        border: 1px solid transparent;
        background-color: $white;
        box-shadow: 0px 20px 45px 0px rgba(2, 4, 57, 0.12);
    }
}

.blog-meta{
    ul{
        display: flex;
        li{
            font-size: 14px;
            font-weight: 500;
            color: $textColor;
            line-height: 24px;
            &:not(:first-child){
                margin-left: 25px;
            }
        }
        li a{
            font-size: 16px;
            font-weight: 600;
            color: $titleColor;
            line-height: 24px;
            transition: 0.3s;
            &:hover{
                color: $textColor;
            }
        }
    }
}

.blog-title{
    margin-top: 20px;
    a{
        font-size: 24px;
        font-weight: 700;
        color: $titleColor;
        line-height: 30px;
        transition: 0.3s;
        &:hover{
            color: $themeColor;
        }
    }
}

.blog-button{
    margin-top: 50px;
}

@include breakpointWidth(991px){
    .blog-title{
        margin-top: 20px;
        a{
            font-size: 20px;
        }
    }
}

@include breakpointWidth(480px){
    .blog-meta{
        ul{
            flex-direction: column;
            li{
                &:not(:first-child){
                    margin-left: 0px;
                }
            }
        }
    }
}