#call-to-action{
    margin-bottom: -160px;
}

.call-to-action-content{
    margin: 0 10%;
    padding: 90px 0 80px 0;
    background-color: $titleColor;
    background-image: url("../images/call-to-action/1.png");
    border: 1px solid $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action-text{
    text-align: center;
    h2{
        font-size: 30px;
        font-weight: 500;
        color: $white;
        line-height: 45px;
        margin-bottom: 16px;
    }
    a{
        font-size: 30px;
        font-weight: 500;
        color: $themeColor;
        line-height: 45px;
        margin-bottom: 16px;
    }
}

.call-to-action-button{
    margin-top: 5px;
}

@include breakpointWidth(991px){
    .call-to-action-content{
        margin: 0;
        padding: 50px;
    }
    
    .call-to-action-text{
        text-align: center;
        h2,
        a{
            font-size: 26px;
        } 
    }
}

@include breakpointWidth(575px){
    .call-to-action-content{
        padding: 50px 0;
    }
    
    .call-to-action-text{
        text-align: center;
        h2,
        a{
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 5px;
        }
    }
    
    .call-to-action-button{
        margin-top: 20px;
    }
}