.single-counter{
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.counter-icon{
    margin-bottom: 16px;
    i{
        font-size: 36px;
        font-weight: 400;
        color: $themeColor;
    }
}

.counter-text{
    h2{
        font-size: 30px;
        font-weight: 600;
        color: $white;
        line-height: 45px;
        margin-bottom: 8px;
    }
    p{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        color: $white;
        line-height: 24px;
    }
}