.footer-info{
    text-align: center;
    margin-bottom: 60px;
}

.footer-logo{
    width: 150px;
    margin: 0 auto 48px;
}

.footer-text{
    max-width: 700px;
    margin: 0 auto;
    p{
        font-family: $robotoFont;
        font-size: 15px;
        font-weight: 400;
        color: $footerColor;
        line-height: 27px;
        letter-spacing: 0.45px;
    }
}

.footer-social-link{
    margin-top: 20px;
    ul{
        display: flex;
        justify-content: center;
        li{
            &:not(:first-child){
                margin-left: 5px;
            }
        }
        li a i{
            width: 32px;
            height: 30px;
            background-color: transparent;
            border: 1px solid $footerColor;
            border-radius: 5px;
            font-size: 15px;
            color: $footerColor;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            &:hover{
                color: $white;
            }
        }
    }
}

.copyright-text{
    border-top: 1px solid #4e555d;
    padding-top: 30px;
    text-align: center;
    h2{
        font-family: $robotoFont;
        font-size: 15px;
        font-weight: 400;
        color: $footerColor;
        line-height: 27px;
        letter-spacing: 0.45px;
    }
}