#slider-area{
    width: 100%;
    height: 700px;
    background-color: $bgSection;
    overflow: hidden;
}

.slider-content{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-text{
    h2{
        text-transform: capitalize;
        font-size: 70px;
        font-weight: 700;
        color: $titleColor;
        line-height: 100px;
        margin-bottom: 25px;
    }
    p{
        text-transform: capitalize;
        font-size: 28px;
        font-weight: 500;
        color: $textColor;
        line-height: 28px;
    }
}

.cd-headline.letters.rotate-3{
    .cd-words-wrapper{
        b{
            i{
                font-style: normal;
                font-weight: 500;
                text-transform: lowercase;
                &:first-child{
                    text-transform: uppercase;
                }
            }
        }
    }
}

.slider-button{
    margin-top: 50px;
}

.social-link{
    position: absolute;
    bottom: 0;
    left: -120px;
    padding: 0 270px 0 150px;
    width: fit-content;
    height: 140px;
    background-color: $white;
    display: flex;
    align-items: center;
    ul{
        display: flex;
        li{
            &:not(:first-child){
                margin-left: 40px;
            }
        }
        li a{
            font-size: 30px;
            font-weight: 400;
            color: $titleColor;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
            }
        }
    }
}

.slider-right{
    width: 100%;
    height: 700px;
    .slider-image{
        position: absolute;
        z-index: 1;    
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        img{
            width: 80%;
        }
    }
}

.overlay-circle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $white;
}

.overlay-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    h2{
        text-transform: uppercase;
        font-size: 180px;
        font-weight: 800;
        color: $white;
        line-height: 180px;
        margin-bottom: 25px;
    }
}

@include breakpointWidth(1199px){  
    .slider-text{
        h2{
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
        p{
            font-size: 24px;
            line-height: 28px;
        }
    }
}

@include breakpointWidth(991px){  
    .slider-text{
        h2{
            font-size: 46px;
            line-height: 46px;
            margin-bottom: 25px;
        }
        p{
            font-size: 24px;
            line-height: 28px;
        }
    }
    
    .slider-right{
        width: 100%;
        height: 700px;
        .slider-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    
    .social-link{
        position: absolute;
        bottom: 0;
        left: -125px;
        padding: 0 270px 0 150px;
        width: fit-content;
        height: 140px;
        background-color: transparent;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            li{
                &:not(:first-child){
                    margin-left: 30px;
                }
            }
            li a{
                font-size: 22px;
            }
        }
    }
}

@include breakpointWidth(767px){
    #slider-area{
        height: 750px;
    }
    
    .slider-content{
        width: 100%;
        height: 550px;
        text-align: center;
    }
    
    .slider-text{
        h2{
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 25px;
        }
        p{
            font-size: 24px;
            line-height: 28px;
        }
    }
    
    .cd-headline{
        text-align: center;
    }
    
    .slider-right{
        width: 100%;
        height: 200px;
        .slider-image{
            text-align: center;
            img{
                width: 50%;
            }
        }
    }
    
    .social-link{
        position: static;
        padding: 0;
        width: 100%;
        background-color: transparent;
        justify-content: center;
        ul{
            display: flex;
            justify-content: center;
            li{
                &:not(:first-child){
                    margin-left: 30px;
                }
            }
            li a{
                font-size: 22px;
            }
        }
    }
    
    .overlay-circle{
        opacity: 0;
        visibility: hidden;
    }
    
    .overlay-text{
        h2{
            font-size: 130px;
            line-height: 130px;
        }
    }
}

@include breakpointWidth(480px){
    #slider-area{
        height: 730px;
    }
    
    .slider-content{
        width: 100%;
        height: 550px;
        text-align: center;
    }
    
    .slider-right{
        width: 100%;
        height: 180px;
        .slider-image{
            text-align: center;
            img{
                width: 55%;
                height: 100%
            }
        }
    }
    
    .overlay-text{
        h2{
            font-size: 100px;
            line-height: 100px;
        }
    }
}