.single-testi{
    display: flex;
    flex-wrap: wrap;
}

.testi-image{
    flex: 0 0 33.3334%;
}

.testi-text{
    flex: 0 0 66.66666%;
    padding: 90px 0 0 130px;
    h2{
        font-size: 21px;
        font-weight: 700;
        color: $titleColor;
        line-height: 21px;
        margin-bottom: 8px;
    }
    h3{
        font-size: 16px;
        font-weight: 500;
        color: $titleColor;
        line-height: 36px;
        margin-bottom: 40px;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        color: $textColor;
        line-height: 36px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            top: -20px;
            left: -36px;
            width: 26px;
            height: 20px;
            background-image: url("../images/testimonials/icon1.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &::after{
            position: absolute;
            content: "";
            bottom: -20px;
            right: 0;
            width: 26px;
            height: 20px;
            background-image: url("../images/testimonials/icon2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.owl-carousel.testi-slider{
    .owl-item img {
        display: inline-block;
        width: fit-content;
    }
    .owl-nav{
        position: absolute;
        bottom: 25px;
        left: 43%;
        background-color: $themeColor;
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 2px;
            height: 10px;
            background-color: $white;
        }
        &::after{
            position: absolute;
            z-index: -1;
            content: "";
            top: -10px;
            left: -10px;
            width: 52px;
            height: 52px;
            background-image: url("../images/icons/nav-bg-icon.png");
        }
        button{
            margin: 0 10px;
            i{
                padding: 15px;
                font-size: 20px;
                color: $white;
                border: none;
                transition: 0.3s;
            }
            &:hover{
                i{
                    color: $titleColor;
                }
            }
        }
    }
}

@include breakpointWidth(1199px){
    .testi-text{
        padding: 0px 0 0 130px;
    }
}

@include breakpointWidth(1199px){
    .testi-image{
        flex: 0 0 40%;
    }

    .testi-text{
        flex: 0 0 60%;
        padding: 0px 0 0 60px;
        p{
            font-size: 16px;
        }
    }
}

@include breakpointWidth(767px){
    .single-testi{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .owl-carousel.testi-slider{
        .owl-item img {
            display: block;
            width: 100%;
        }
        .owl-nav{
            position: absolute;
            bottom: -50px;
            left: 43%;
            background-color: $themeColor;
        }
    }

    .testi-image{
        flex: 0 0 100%;
        margin-bottom: 20px;
        img{
           width: 100%;
        }
    }

    .testi-text{
        flex: 0 0 100%;
        padding: 0px 0 0 60px;
        h2,h3{
            text-align: center;
        }
    }
}