//font family included
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

$barlowFont: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$quicksandFont: 'Quicksand', sans-serif;

//solid color
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #00ff00;
$yellow: yellow;

//theme color
$themeColor: #92d9eb;
$bodyColor: #232940;
$hoverColor: #b67037;
$borderColor: #e0e6f3;

//text color
$menuTextColor: #757fa6;
$titleColor: #232940;
$subTitleColor: #242F51;
$textColor: #3d445b;

//background color
$bgHeader: #32325d;
$bgSection: #F7F8FD;
$bgFooter: #09142e;