//font family included
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$montserratFont: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
$robotoFont: 'Roboto', sans-serif;

//solid color
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #00ff00;
$yellow: yellow;

//theme color
$themeColor: #e54b4b ;
$bodyColor: #8492a6;
$hoverColor: #dd2020;

//text color
$titleColor: #161c2d;
$footerColor: #adb5bd;
$textColor: #3c4858;

//background color
$bgSection: #f8f9fa;
$bgHeader: #32325d;
$bgCard: #F5F7FA;
$bgFooter: #3c4858;

//icon color
.fa-facebook:hover {
    background-color: #38529A;
}

.fa-twitter:hover {
    background-color: #1C9CEA;
}

.fa-google:hover,
.fa-google-plus:hover {
    background-color: #DC3C2A;
}

.fa-github:hover {
    background-image: linear-gradient(#82248C, #51257A);
}

.fa-instagram:hover {
    background-image: linear-gradient(#3B68C4, #C7389F, #F6A649);
}

.fa-vimeo:hover{
    background-color: #3FABD4;
}

.fa-linkedin:hover{
    background-color: #0073B1;
}

.fa-youtube:hover,
.fa-youtube-play:hover{
    background-color: #CF2323;
}

.fa-heart{ 
    color: #d6374a; 
}