@include breakpoint(lg){
    //service section
    .single-service{
        padding: 5px;
    }
    
    .service-text{
        p{
            padding: 0 5px;
        }
    }
}

@include breakpointWidth(1199px){
    //team section
    .single-team{
        padding: 0px;
    }

    .team-text{
        p{
            padding: 0 5px;
        }
    }
}

@include breakpointWidth(991px){
    //slider section
    .slider-text{
        h2{
            white-space: normal;
            font-size: 34px;
        }
    }

    //team section
    .single-team{
        margin-top: 50px;
    }

    //skills section
    .single-skill{
        margin-top: 50px;
    }

    //contact section
    .contact-form{
        width: 100%;
        .form-view{
            display: flex;
            flex-direction: column;
            input{
                flex-basis: 100%;
            }
        }
        input,
        textarea{
            width: 100%;
            margin: 15px 0;
            font-size: 20px;
            padding: 10px 15px;
        }
    }
}

@include breakpointWidth(767px){
    //slider section
    .slider-text{
        h2{
            font-size: 25px;
        }
    }

    //service section
    .service-text{
        p{
            padding: 0;
        }
    }

    //team section
    .team-text{
        p{
            padding: 0;
        }
    }

    //contact section
    .form-submit-button{
        input[type="submit"]{
            padding: 15px 45px;
        }
    }
}

@include breakpointWidth(575px){
    //testimonial section
    .testimonial-content{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }   
    .testimonial-image{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .testimonial-text{
        text-align: center;
    }
}

@include breakpointWidth(480px){
    //slider section
    #slider-area{
        height: 400px;
    }
    
    .slider-content{
        height: 400px;
    }

    .slider-text{
        h2{
            font-size: 20px;
        }
    }

    //service section
    .service-text{
        h2{
            font-size: 20px;
        }
        p{
            font-size: 14px;
        }
    }

    //team section
    .team-text{
        h2{
            font-size: 20px;
            letter-spacing: 1px;
        }
        h3{
            font-size: 14px;
        }
        p{
            font-size: 14px;
            padding: 0;
        }
    }

    //skills section
    .skill-text{
        h2{
            font-size: 20px;
        }
    }

    //testimonial section
    .testimonial-text{
        p{
            font-size: 20px;
        }
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 16px;
        }
    }

    //contact section
    .contact-form{
        input,
        textarea{
            margin: 10px 0;
            font-size: 16px;
            padding: 15px;
        }
    }

    .form-submit-button{
        input[type="submit"]{
            font-size: 14px;
            padding: 10px 30px;
        }
    }
}