.single-service{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.service-image{
    margin-bottom: 50px;
}

.service-text{
    h2{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        color: $white;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        font-weight: 300;
        color: $white;
        padding: 0 20px;
    }
}