#slider-area{
    width: 100%;
    height: 600px;
}

.slider-content{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-text{
    text-align: center;
    h2{
        white-space: pre-line;
        font-size: 42.16px;
        font-weight: 700;
        color: $white;
    }
}

.slider-button{
    margin-top: 60px;
    text-align: center;
}