//font family included
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,700&display=swap');
$josefinSansFont: 'Josefin Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
$cookieFont: 'Cookie', cursive;

//solid color blck and white
$white: #fff;
$black: #000;

//theme color
$themeColor: #c9ab81;

//text color
$bodyColor: #666666;
$titleColor: #ce9e51;
$widgetColor: rgba(153, 153, 153, .8);
$footerColor: #999999;

//background color
$bgFooter: #202020;