.single-achivement{
    padding: 46px 28px;
    background-color: $white;
    border: 1px solid $borderColor;
    text-align: center;
}

.achieve-icon{
    margin-bottom: 15px;
}

.owl-carousel.achivement-slider{
    .owl-item img {
        display: inline-block;
        width: fit-content;
    }
    .owl-nav{
        position: absolute;
        top: -126px;
        right: 0;
        background-color: $themeColor;
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 2px;
            height: 10px;
            background-color: $white;
        }
        &::after{
            position: absolute;
            z-index: -1;
            content: "";
            top: -10px;
            left: -10px;
            width: 52px;
            height: 52px;
            background-image: url("../images/icons/nav-bg-icon.png");
        }
        button{
            margin: 0 10px;
            i{
                padding: 15px;
                font-size: 20px;
                color: $white;
                border: none;
                transition: 0.3s;
            }
            &:hover{
                i{
                    color: $titleColor;
                }
            }
        }
    }
}


.achive-text{
    h3{
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
        line-height: 16px;
        margin-bottom: 16px;
    }
    h2{
        text-transform: capitalize;
        font-size: 21px;
        font-weight: 600;
        color: $titleColor;
        line-height: 21px;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
        line-height: 26px;
    }
}

.achieve-date{
    margin-top: 40px;
    p{
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
        line-height: 16px;
    }
}

@include breakpointWidth(767px){
    .owl-carousel.achivement-slider{
        .owl-nav{
            top: -60px;
        }
    }
}