#header-area{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0;
    transition: 0.5s;
    &.sticky{
        padding: 10px 0;
        background-color: $white;
        box-shadow: 0px 20px 45px 0px rgba(2, 4, 57, 0.12);
        .navbar-brand{
            font-size: 28px;
        }
        .collapse.navbar-collapse{
            justify-content: end;
        }
    }
}

.navbar{
    padding: 0;
}

.navbar-brand{
    max-width: 150px;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: $titleColor;
    line-height: 30px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    span{
        color: $themeColor;
        background-color: $titleColor;
        padding: 5px;
        margin-right: 5px;
    }
    &:hover{
        color: $titleColor;
    }
}

.collapse.navbar-collapse{
   transition: 0.5s;
}

.main-menu{
    li{
        &:not(:first-child){
            margin-left: 30px;
        }
    }
    li a{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        color: $menuTextColor;
        line-height: 16px;
        transition: 0.3s;
        .hover-bar{
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::before{
                position: absolute;
                z-index: -1;
                content: "";
                bottom: 5px;
                left: 0;
                width: 0%;
                height: 5px;
                background-color: $themeColor;
                transition: 0.4s;
            }
        }
        &:hover{
            color: $bodyColor;
            .hover-bar::before{
                width: 100%;
            }
        }
    }
}

@include breakpointWidth(991px){
    #header-area{
        padding: 15px 0;
        transition: 0.5s;
        background-color: $white;
        box-shadow: 0px 20px 45px 0px rgba(2, 4, 57, 0.12);
        &.sticky{
            padding: 10px 0;
        }
    }
    
    .main-menu{
        margin-top: 10px;
        li{
            &:not(:first-child){
                margin-left: 0px;
                margin-top: 5px;
            }
        }
    }
}