.service-content{
    display: flex;
    flex-wrap: wrap;
}

.single-service{
    flex-basis: 33.33%;
    padding: 50px 40px;
    background-color: $white;
    border: 1px solid $borderColor;
    &:hover{
        box-shadow: 0px 25px 57px 3px rgba(0, 27, 103, 0.1);
    }
}

.service-icon{
    margin-bottom: 45px;
    position: relative;
    .icon-overlay{
        position: absolute;
        top: 0;
        left: 0;
    }
}

.service-text{
    h2{
        font-size: 21px;
        font-weight: 600;
        color: $titleColor;
        line-height: 21px;
        margin-bottom: 25px;
    }
    p{
        font-family: $quicksandFont;
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
        line-height: 26px;
    }
}

.service-button{
    margin-top: 45px;
}

@include breakpointWidth(991px){
    .single-service{
        flex-basis: 50%;
    }
}

@include breakpointWidth(767px){
    .single-service{
        flex-basis: 100%;
        margin-top: 20px;
        padding: 30px;
    }
}