.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-text{
    h2{
        text-transform: capitalize;
        font-family: $robotoFont;
        font-size: 15px;
        font-weight: 400;
        line-height: 25.5px;
        letter-spacing: 0.6px;
        color: rgba($color: $white, $alpha: 0.95);
    }
}

.footer-menu{
    ul{
        display: flex;
        li{
            &:not(:first-child){
                margin-left: 15px;
            }
        }
        li a{
            text-transform: capitalize;
            font-family: $robotoFont;
            font-size: 15px;
            font-weight: 400;
            color: $white;
            line-height: 22.5px;
            &:hover{
                color: $themeColor;
            }
        }
    }
}

@include breakpointWidth(575px){
    .footer-content{
        flex-direction: column;
    }

    .copyright-text{
        margin-bottom: 20px;
    }
}