.single-service{
    margin-top: 50px;
    padding: 50px 20px 30px 20px;
    background-color: $white;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: 0.3s;
    &:hover{
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        .service-icon{
            &::before{
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }
}

.service-icon{
    margin-bottom: 50px;
    padding: 70px 0 0 50px;
    position: relative;
    &::before{
        position: absolute;
        z-index: 2;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 80px;
        height: 80px;
        background-color: $themeColor;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
    }
    &::after{
        position: absolute;
        z-index: 1;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        border: 1px dashed $themeColor;
        border-radius: 10px;
    }
    i{
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        font-size: 40px;
        color: white;
    }
}

.service-text{
    h2{
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 600;
        color: $titleColor;
        line-height: 28px;
        margin-bottom: 8px;
    }
    p{
        font-family: $robotoFont;
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
        line-height: 25.5px;
    }
}