.move-content-area{
    display: flex;
    justify-content: space-between;
    
    .left-move{
        flex-basis: 45%;
    }
    .right-move{
        flex-basis: 50%;
    }
}

.left-move{
    .move-img{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.move-heading{
    width: 100%;
    margin-bottom: 57px;
    
    h2{
        @include textStyle(45px, 300, $themeColorMartinique);
        margin-bottom: 42px;
    }
    p{
        @include textStyle(23px, 300, $themeColorBlueBayoux);
    }
}

.move-content{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
    .content-text{
        flex-basis: 40%;
        
        h2{
            @include textStyle(30px, 300, $themeColorMartinique);
            margin-bottom: 28px;
        }
        p{
            @include textStyle(16px, 300, $themeColorBlueBayoux);
        }
    }
}

.move-btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .btn-second{
        padding-left: 35px;
    }
}

@include breakpoint(lg){
    .move-heading{
        h2{
            @include textStyle(35px, 300, $themeColorMartinique);
        }
        p{
            @include textStyle(18px, 300, $themeColorBlueBayoux);
        }
    }
    
    .move-content{
        p{
            @include textStyle(15px, 300, $themeColorBlueBayoux);
        }
    }
    
    .move-btn-group{
        flex-direction: column;
        align-items: flex-start;
        
        .btn-second{
            padding-top: 30px;
            padding-left: 0px;
        }
    }
}

@include breakpoint(md){
    .move-content-area{
        flex-direction: column;
        
        .left-move{
            order: 2;
        }
        .right-move{
            order: 1;
            margin-bottom: 60px;
        }
    }
    .move-heading{
        width: 100%;
        text-align: center;
        h2{
            @include textStyle(30px, 300, $themeColorMartinique);
            margin-bottom: 20px;
        }
        p{
            @include textStyle(18px, 300, $themeColorBlueBayoux);
        }
    }
    
    .move-content{
        p{
            @include textStyle(15px, 300, $themeColorBlueBayoux);
        }
    }
    
    .move-btn-group{
        flex-direction: row;
        align-items: center;
        
        .btn-second{
            padding-top: 0px;
            padding-left: 35px;
        }
    }
}

@include breakpointWidth(767px){
    .move-content-area{
        flex-direction: column;
        
        .left-move{
            order: 2;
        }
        .right-move{
            order: 1;
            margin-bottom: 60px;
        }
    }
    .move-heading{
        width: 100%;
        text-align: center;
        h2{
            @include textStyle(22px, 300, $themeColorMartinique);
            margin-bottom: 15px;
        }
        p{
            @include textStyle(16px, 300, $themeColorBlueBayoux);
        }
    }
    
    .move-content{
        .content-text{
            
            h2{
                @include textStyle(22px, 300, $themeColorMartinique);
                margin-bottom: 28px;
            }
            p{
                @include textStyle(16px, 300, $themeColorBlueBayoux);
            }
        }
    }
    
    .move-btn-group{
        flex-direction: row;
        align-items: center;
        
        .btn-second{
            padding-top: 0px;
            padding-left: 35px;
        }
    }
}

@include breakpointWidth(500px){
    .move-content-area{
        flex-direction: column;
        
        .left-move{
            order: 2;
        }
        .right-move{
            order: 1;
            margin-bottom: 60px;
        }
    }
    .move-heading{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        h2{
            @include textStyle(22px, 300, $themeColorMartinique);
            margin-bottom: 20px;
        }
        p{
            @include textStyle(16px, 300, $themeColorBlueBayoux);
        }
    }
    
    .move-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        .content-text{
            margin-top: 30px;
            h2{
                @include textStyle(22px, 300, $themeColorMartinique);
                margin-bottom: 15px;
            }
            p{
                @include textStyle(16px, 300, $themeColorBlueBayoux);
                width: 50%;
                margin: 0 auto;
            }
        }
    }
    
    .move-btn-group{
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        
        .btn-second{
            padding-top: 30px;
            padding-left: 0px;
        }
    }
}