.btn{
    border: 0;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    color: $titleColor;
    line-height: 18px;
    transition: 0.3s;
    position: relative;
    .hover-bar{
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before{
            position: absolute;
            z-index: -1;
            content: "";
            bottom: 5px;
            left: 0;
            width: 0%;
            height: 5px;
            background-color: $themeColor;
            transition: 0.4s;
        }
    }
    &:hover{
        color: $titleColor;
        .hover-bar::before{
            width: 100%;
        }
    }
    &.btn-link{
        transition: 0.3s;
        &:hover{
            background-color: transparent;
        }
    }
    &.btn-bg{
        padding: 20px 55px;
        border-radius: 0;
        background-color: $themeColor;
        transition: 0.3s;
        &:hover{
            background-color: $themeColor;
        }
    }
    &.bar-white{
        .hover-bar::before{
            background-color: $white;
        }
    }
}