.about-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text{
    h3{
        font-size: 20px;
        font-weight: 400;
        color: $textColor;
        margin-bottom: 10px;
    }
    h2{
        font-size: 40px;
        font-weight: 800;
        color: $themeColor;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        font-weight: 300;
        color: $bodyColor;
    }
}

.about-button{
    margin-top: 25px;
}

@include breakpointWidth(991px){
    .about-content{
        text-align: center;
    }
}

@include breakpointWidth(575px){
    .about-text{
        h3{
            font-size: 16px;
        }
        h2{
            font-size: 30px;
        }
        p{
            font-size: 14px;
        }
    }
}

@include breakpointWidth(480px){
    .about-text{
        h2{
            font-size: 24px;
        }
    }
}