.slider-content{
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-text{
    h2{
        font-size: 50px;
        font-weight: 800;
        color: $themeColor;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        color: $bodyColor;
    }
}

.slider-button-group{
    margin-top: 25px;
    a{
        &:first-child{
            margin-right: 10px;
        }
    }
}

@include breakpointWidth(1199px){
    .slider-content{
        padding: 0 5px;
    }
}

@include breakpointWidth(991px){
    .slider-content{
        margin-top: 30px;
        text-align: center;
    }
}

@include breakpointWidth(767px){
    .slider-text{
        h2{
            font-size: 30px;
        }
        p{
            font-size: 16px;
        }
    }
}