.pricing-content{
    width: 100%;
    display: flex;
    justify-content: center;
    .single-pricing{
        flex-basis: 28%;
    }
}

.single-pricing{
    text-align: center;
    background-color: #f8f8f8;
    padding: 40px 40px 45px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        box-shadow: 0 2px 29px rgba(0, 0, 0, .15);
    }
    &.bg-theme{
        background-color: $themeColor;
        .pricing-title h2,
        .pricing-list li{
            color: $white;
        }
    }
}

.pricing-top{
    margin-bottom: 15px;
    .pricing-image{
        margin-bottom: 0px;
    }
    .pricing-title{
        h2{
            text-transform: uppercase;
            font-size: 34px;
            font-weight: 800;
            color: $themeColor;
        }
    }
}

.pricing-list{
    ul{
        li{
            margin: 5px 0;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 300;
            color: $textColor;
        }
    }
}

.pricing-button{
    margin-top: 30px;
}

@include breakpointWidth(991px){
    .pricing-content{
        width: 55%;
        margin: 0 auto;
        flex-direction: column;
        .single-pricing{
            margin-bottom: 25px;
        }
    }
}

@include breakpointWidth(767px){
    .pricing-content{
        width: 80%;
    }
}

@include breakpointWidth(575px){
    .pricing-content{
        width: 90%;
    }
}