.single-testi{
    padding: 30px 30px 40px 30px;
    border: 1px solid #e9ecef;
    border-radius: 7px;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

.testi-review{
    display: flex;
    justify-content: space-between;
}

.review-title{
    h2{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        color: $titleColor;
        line-height: 24px;
    }
}

.review-star{
    ul{
        display: flex;
        li{
            &:not(:first-child){
                margin-left: 5px;
            }
        }
        li i{
            font-size: 15px;
            font-weight: 400;
            color: $themeColor;
        }
    }
}

.testi-text{
    margin-top: 10px;
    p{
        font-family: $robotoFont;
        font-style: italic;
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
        line-height: 27px;
        letter-spacing: 0.45px;
    }
}

.testi-bottom{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.testi-image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

.testi-info{
    h2{
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500;
        color: $titleColor;
        line-height: 27px;
    }
    h3{
        text-transform: capitalize;
        font-family: $robotoFont;
        font-size: 12.75px;
        font-weight: 500;
        color: $bodyColor;
        line-height: 19.13px;
    }
}

.owl-dots{
    margin-top: 30px;
    text-align: center;
    .owl-dot{
        margin: 0 5px;
        width: 15px;
        height: 15px;
        border: 2px solid $themeColor !important;
        border-radius: 30px;
        &.active,
        &:hover{
            border: 1px solid $themeColor !important;
            background-color: $themeColor !important;
        }
    }
}