.about-left-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-right-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .about-list{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                padding-top: 20px;
                padding-right: 20px;
                font-size: 16px;
                font-weight: 400;
                color: $textColor;
                span{
                    margin-right: 10px;
                    color: $themeColor;
                    background: rgba(19, 96, 239, .1);
                    padding: 5px;
                    border-radius: 3px;
                }
            }
        }
    }
    .about-button-group{
        margin-top: 30px;
    }
}

@include breakpointWidth(991px){
    .about-right-content{
        margin-top: 30px;
    }
}