#particles-js{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.breadcrumb-content{
    text-align: center;
    .breadcrumb-heading{
        margin-bottom: 20px;
        h2{
            text-transform: capitalize;
            font-size: 36px;
            font-weight: 300;
            color: $bodyColor;
        }
    }
    .breadcrumb-list{
        ul{
            display: flex;
            justify-content: center;
            li{
                padding: 0px 10px;
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 400;
                color: $bodyColor;
                position: relative;
                &::before{
                    position: absolute;
                    content: "/";
                    top: 0;
                    left: -5px;
                    color: $subTitleColor;
                }
                &:first-child::before{
                    content: "";
                }
                &:last-child{
                    color: $themeColor;
                }
            }
        }
    }
}

@include breakpointWidth(767px){
    .breadcrumb-content{
        padding-top: 50px;
        .breadcrumb-heading{
            h2{
                font-size: 23px;
            }
        }
        .breadcrumb-list{
            ul{
                li{
                    font-size: 14px;
                }
            }
        }
    }
}