.single-counter{
    text-align: center;
    border-radius: 5px;
    .counter-text{
        h2{
            margin-bottom: 5px;
            font-size: 56px;
            font-weight: 300;
            color: $themeColor;
            span{
                color: $bodyColor;
            }
        }
        p{
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            color: $subTitleColor;
        }
    }
    &.counter-bg-white,
    &.counter-bg-theme,
    &.counter-bg-hover{
        padding: 30px;
    }
    &.counter-bg-white{
        background: $white;
        box-shadow: 0px 10px 55px 5px rgba(137, 173, 255, .15);
        .counter-text{
            h2,span{
                color: $themeColor;
            }
            p{
                color: $bodyColor;
            }
        }
    }
    &.counter-bg-theme,
    &.counter-bg-hover{
        .counter-text{
            h2,span,p{
                color: $white;
            }
        }
    }
    &.counter-bg-theme{
        background: $themeColor;
    }
    &.counter-bg-hover{
        background: $hoverColor;
    }
}

@include breakpointWidth(767px){
    .single-counter{
        &.mt-20{
            margin-top: 0;
        }
        padding: 10px 0px;
        .counter-text{
            h2{
                font-size: 36px;
            }
            p{
                font-size: 14px;
            }
        }
        &.counter-bg-white,
        &.counter-bg-theme,
        &.counter-bg-hover{
            margin: 10px 0;
        }
    }    
}