.faq-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*--- accordion style ---*/
.card {
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color: transparent;
    background-clip:border-box;
    border: 0px;
    border-radius: 0px;
    margin: 10px 0px;
}

.card-header {
    padding:0px;
    margin-bottom: 0;
    background-color:transparent;
    border: 1px solid #dee2e6;
    h2{
        font-size: 16px;
        font-weight: 500;
        color: $bodyColor;
    }
}   

.accordion>.card>.card-header {
    border-radius:0;
    margin-bottom:0px;
}

.card-body{
    text-transform: inherit;
    font-size: 16px;
    font-weight: 400;
    color: $subTitleColor;
    padding: 10px;
}

@include breakpointWidth(991px){
    .faq-image{
        margin-bottom: 30px;
    }
}

@include breakpointWidth(767px){
    .card-header{
        h2{
            font-size: 14px;
        }
    }
    .card-body{
        font-size: 14px;
    }
}