.single-feature{
    text-align: center;
    padding: 48px 24px;
    transition: 0.3s;
    
    border-radius: 5px;
    &:hover{
        background-color: rgba(19, 96, 239, 0.01);
        box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15);
        transform: translate3d(0px, -20px, 0px);
    }
    &.active{
        background-color: rgba(19, 96, 239, 0.01);
    }
    &.feature-bg-white{
        background-color: $white;
        &:hover{
            background-color: $white;
        }
    }
    .feature-icon{
        margin-bottom: 24px;
    }
    .feature-text{
        h2{
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 500;
            color: $bodyColor;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            color: $textColor;
        }
    }
    .feature-button{
        margin-top: 20px;
    }
}

.feature-content{
    .feature-card{
        margin-bottom: 30px;
        display: flex;
        .feature-icon{
            margin-right: 30px;
        }
        .feature-text{
            h2{
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 400;
                color: $themeColor;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: $subTitleColor;
            }
        }
    }
}

@include breakpointWidth(767px){
    .single-feature{
        margin-top: 30px;
        .feature-text{
            h2{
               // font-size: 16px;
            }
            p{
                //font-size: 14px;
            }
        }
    }

    .feature-content{
        .feature-card{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .feature-icon{
                margin-right: 0px;
                margin-bottom: 30px;
            }
            .feature-text{
                text-align: center;
                h2{
                    //font-size: 16px;
                }
                p{
                    //font-size: 14px;
                }
            }
        }
    }
}