.bg-shape{
    .shape-footer{
        position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 150px;
    }
}

/*--- footer top style ---*/
.subscribe-box{
    background: rgba(250,215,118,.1);
    padding: 30px;
    border-radius: 5px;
    .subscribe-title{
        margin-bottom: 30px;
        h2{
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 500;
            color: $white;
        }
        
    }
    .subscribe-form{
        p{
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 500;
            color: $white;
        }
        input{
            width: 100%;
            padding: 15px 20px;
            border-radius: 5px;
            &:first-child{
                background: $white;
                color: #495057;
                border: none;
                margin-bottom: 20px;
            }
            &:last-child{
                background: transparent;
                color: $white;
                border: 1px solid $white;
                transition: 0.3s;
                &:hover{
                    background: $white;
                    color: $bodyColor;
                }
            }
        }
    }
    .subscribe-text{
        margin-top: 10px;
        p{
            font-size: 13px;
            font-weight: 300;
            color: $white;
        }
    }
}

/*--- footer widget area style ---*/
.footer-widget-area{
    display: flex;
    justify-content: space-between;
    .footer-widget{
        ul{
            display: flex;
            flex-direction: column;
            li{
                padding: 10px 0px;
                &:first-child{
                    text-transform: capitalize;
                    font-size: 20px;
                    font-weight: 500;
                    color: $white;
                    margin-bottom: 15px;
                }
            }
            li a{
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 400;
                color: rgba(255,255,255,.8);
                &:hover{
                    color: $white;
                }
            }
        }
    }
}

.footer-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-logo{
        img{
            filter: brightness(0) invert(1);
        }
    }
}

/*--- social link style ---*/
.social-link{
    ul{
        display: flex;
        li{
            padding: 0px 10px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        li a{
            font-size: 32px;
            color: $white;
            transition: 0.3s;
            &:hover{
                color: rgba(255,255,255,.8);
            }
        }
    }
}

/*--- footer bottom style ---*/
.copyright-text{
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-top-color: rgba(255,255,255,.2);
    text-align: center;
    h2{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        color: $white;
        line-height: 27px;
    }
    a{
        text-decoration: underline;
    }
}

@include breakpointWidth(991px){
    .subscribe-box{
        margin-bottom: 30px;
    }
}

@include breakpointWidth(767px){
    .footer-widget-area{
        flex-direction: column;
        .footer-widget{
            margin-bottom: 20px;
        }
    }
    .footer-info{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .footer-logo{
            margin-bottom: 30px;
        }
    }
}