.pricing-area-view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .pricing-left-content{
        flex-basis: 65%;
        display: flex;
        justify-content: space-between;
        .single-pricing{
            flex-basis: 50%;
        }
    }
    .pricing-right-content{
        flex-basis: 30%;
        margin: auto 0;
    }
}

.single-pricing{
    background-color: $white;
    border-radius: 5px;
    padding: 80px 40px;
    transition: 0.3s;
    &:hover{
        transform: translateY(-20px);
        box-shadow: 0px 10px 55px 5px rgba(137, 173, 255, .15);
    }
    .pricing-list{
        ul{
            li{
                padding: 8px 0px;
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 400;
                color: $textColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 17px;
                    height: 11px;
                }
            }
        }
    }
    .pricing-price{
        margin-top: 50px;
        text-align: center;
        h3{
            display: inline-block;
            padding: 5px;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            background: $themeColor;
        }
        h2{
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-weight: 300;
                color: $bodyColor;
                &:nth-child(1){
                    align-self: flex-start;
                    margin-top: 20px;
                    font-size: 20px;
                }
                &:nth-child(2){
                    font-size: 85px;
                }
                &:nth-child(3){
                    align-self: flex-end;
                    margin-bottom: 20px;
                    font-size: 32px;
                    color: $themeColor;
                }
            }
        }
        p{
            margin-top: 10px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
            color: $subTitleColor;
        }
    }
    .pricing-button{
        margin-top: 50px;
        a{
            width: 100%;
        }
    }
    &.pricing-bg-theme{
        background-color: $themeColor;
        &:hover{
            transform: none;
        }
        .pricing-list{
            ul{
                li{
                    color: $white;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
        .pricing-price{
            h3{
                color: $bodyColor;
                background: $white;
            }
            h2{
                span{
                    color: $white;
                }
            }
            p{
                color: $white;
            }
        }
    }
    &.pricing-bg-white{
        padding: 80px 40px;
        &.active,
        &:hover{
            transform: none;
            box-shadow: 0px 10px 55px 5px rgba(137, 173, 255, .15);
        }
        .pricing-price{
            margin-top: 0;
            h3{
                color: $bodyColor;
                background: $white;
                box-shadow: 0px 10px 55px 5px rgba(137, 173, 255, .15);
            }
            h2{
                span{
                    color: $bodyColor;
                }
            }
        }
    }
}

@include breakpointWidth(991px){
    .single-pricing{
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    .pricing-area-view{
        justify-content: space-between;
        flex-direction: column;
        .pricing-left-content{
            order: 2;
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            .single-pricing{
                flex-basis: 48%;
                margin-bottom: 0;
            }
        }
        .pricing-right-content{
            order: 1;
            max-width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

@include breakpointWidth(767px){
    .single-pricing{
        .pricing-list{
            ul{
                li{
                    font-size: 14px;
                }
            }
        }
    }
    .pricing-area-view{
        .pricing-left-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .single-pricing{
                margin-bottom: 50px;
            }
        }
    }
}