.bg-shape{
    .shape-top{
        position: absolute;
        top: -1px;
        width: 100%;
        left: 0;
        right: 0;
        height: 150px;
    }
    .shape-bottom{
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 200px;
    }
}

.single-service{
    margin-bottom: 30px;
    background: rgba(19, 96, 239, 0.02);
    border-radius: 5px;
    padding: 30px;
    .service-top{
        display: flex;
        .service-icon{
            margin-right: 20px;
        }
        .service-title{
            h2{
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 500;
                color: $white;
            }
        }
    }
    .service-text{
        margin-top: 20px;
        p{
            font-size: 16px;
            font-weight: 400;
            color: $textColor;
        }
    }
}

.service-content{
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    .service-left-content{
        flex-basis: 50%;
        margin: auto 0;
        .service-title{
            h2{
                text-transform: capitalize;
                font-size: 36px;
                font-weight: 400;
                color: $bodyColor;
            }
        }
    }
    .service-right-content{
        flex-basis: 45%;
        margin: auto 0;
    }
}

.service-grid-view{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .service-box{
        flex-basis: 48%;
        margin-top: 20px;
        padding: 10px;
        display: flex;
        .service-icon{
            text-align: center;
            background: $white;
            box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, .15);
            padding: 10px;
            border-radius: 3px;
            height: 55px;
        }
        .service-text{
            margin-left: 15px;
            h2{
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 500;
                color: $themeColor;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: $textColor;
            }
        }
    }
}


@include breakpointWidth(991px){
    .service-content{
        flex-direction: column;
        .service-left-content{
            order: 2;
            .service-title{
                text-align: center;
                h2{
                    font-size: 36px;
                }
            }
        }
        .service-right-content{
            order: 1;
            margin-bottom: 30px;
        }
    }
}


@include breakpointWidth(767px){
    .single-service{
        text-align: center;
        &:first-child{
            margin-top: 30px;
        }
        .service-top{
            display: flex;
            flex-direction: column;
            .service-icon{
                margin-right: 0px;
                margin-bottom: 20px;
            }
            .service-title{
                h2{
                    font-size: 16px;
                }
            }
        }
        .service-text{
            p{
                font-size: 14px;
            }
        }
    }
    
    .service-content{
        .service-left-content{
            .service-title{
                text-align: center;
                h2{
                    font-size: 18px;
                }
            }
        }
    }
    
    .service-grid-view{
        flex-direction: column;
        align-content: center;
        .service-box{
            flex-direction: column;
            .service-icon{
                width: 55px;
                margin: 0 auto;
            }
            .service-text{
                margin-top: 20px;
                text-align: center;
                margin-left: 0;
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}