#slider-area{
    padding-top: 170px;
}
/*--- Slider left content ---*/
.slider-left-content{
    .slider-text-content{
        .slider-text{
            h3{
                font-size: 12px;
                font-weight: 600;
                color: $themeColor;
                background: rgba(19,96,239,0.1);
                border-radius: 3px;
                padding: 3px;
                display: inline-block;
                margin-bottom: 10px;
            }
            h2{
                text-transform: capitalize;
                font-size: 56px;
                font-weight: 300;
                color: $bodyColor;
                margin-bottom: 20px;
                span{
                    color: $themeColor;
                }
            }
            p{
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 300;
                color: $subTitleColor;
            }
            &.slider-text-white{
                h3,h2,span,p{
                    color: $white;
                }
                span{
                    font-weight: 700;
                }
            }
        }
    }
    .slider-button-group{
        margin-top: 20px;
        display: flex;
        a{
            &:first-child{
                margin-right: 10px;
            }
        }
    }
}

.slider-branding-slide{
    margin-top: 50px;
    .branding-slide,
    .branding-slide-all{
        width: 100%;
        display: flex;
        .branding-logo{
            padding: 10px;
            img{
                width: 100%;
                height: 100%;
                opacity: 0.2;
                transition: 0.3s;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

@include breakpointWidth(767px){
    #slider-area{
        padding-top: 100px;
    }
}

@include breakpointWidth(576px){
    .slider-left-content{
        .slider-text-content{
            .slider-text{
                h2{
                    font-size: 40px;
                }
            }
        }
    }
}

/*--- Slider right content ---*/
.slider-right-content{
    .slider-image{
        padding: 5px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@include breakpointWidth(991px){
    .slider-right-content{
        .slider-image{
            padding: 0;
            margin-bottom: 30px;
        }
    }
}