.area-video{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
        z-index: 2;
        
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 23px;
            color: $themeColor;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $white;
        }
    }
    .bg-animation{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        .animaion-dot-one,
        .animaion-dot-two{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $themeColor;
        }
        .animaion-dot-one{
            animation: video-animate 1.5s infinite linear;
            animation-delay: 1s;
        }
        .animaion-dot-two{
            animation: video-animate-2 1.5s infinite linear;
        }
    }
}

@keyframes video-animate{
    0%{
        opacity: 0;
        transform: scale(0); 
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 0;
        transform: scale(2.5); 
    }
}

@keyframes video-animate-2{
    0%{
        opacity: 0;
        transform: scale(0); 
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
        transform: scale(3); 
    }
}

@include breakpointWidth(767px){
    .area-video{
        margin: 0 auto;
    }
}