.work-left-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .work-developer{
        margin-top: 30px;
        display: flex;
        .developer-image{
            margin-right: 20px;
            img{
                border-radius: 50%;
            }
        }
        .developer-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 500;
                color: $bodyColor;
                margin-bottom: 10px;
            }
            p{
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 400;
                color: $textColor;
            }
        }
    }
}

@include breakpointWidth(991px){
    .work-left-content{
        margin-top: 30px;
    }
}

@include breakpointWidth(767px){
    .work-left-content{
        .work-developer{
            .developer-info{
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}