.app-content{
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app-heading,
.single-app{
    margin-top: 64px;
    width: 500px;
    height: 478px;
    
}

.app-heading{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    h2{
        @include textStyle(48px, 300, $themeColorMartinique);
        margin-bottom: 30px;
    }
    p{
        @include textStyle(21px, 300, $themeColorBlueBayoux);
    }
}

.single-app{
    padding: 50px;
    background: $white;
    border-radius: 10px;
    @include boxShadowStyle(-6.691px, 7.431px, 12px, 0px, $boxShadowColor);
    
    .app-icon{
        margin-bottom: 55px;
    }
    
    .app-text{
        h2{
            @include textStyle(30px, 300, $themeColorEbonyClay);
            margin-bottom: 30px;
        }
        p{
            @include textStyle(16px, 300, $themeColorBlueBayoux);
        }
    }
}

@include breakpoint(lg){
    .app-heading,
    .single-app{
        margin-top: 64px;
        width: 400px;
        height: 420px;
    }
    .app-heading{
        h2{
            @include textStyle(35px, 300, $themeColorMartinique);
            margin-bottom: 30px;
        }
        p{
            @include textStyle(17px, 300, $themeColorBlueBayoux);
        }
    }
    .single-app{
        padding: 30px;
        .app-icon{
            margin-bottom: 40px;
        }
        
        .app-text{
            h2{
                @include textStyle(25px, 300, $themeColorEbonyClay);
                margin-bottom: 25px;
            }
            p{
                @include textStyle(16px, 300, $themeColorBlueBayoux);
            }
        }
    }
}

@include breakpointWidth(991px){
    .app-content{
        justify-content: center;
    }
    .app-heading{
        margin-top: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .app-heading{
        justify-content: flex-start;
        text-align: center;
        
        h2{
            @include textStyle(35px, 300, $themeColorMartinique);
            margin-bottom: 30px;
        }
        p{
            @include textStyle(18px, 300, $themeColorBlueBayoux);
        }
    }
}

@include breakpointWidth(575px){
    .app-heading{
        h2{
            @include textStyle(25px, 300, $themeColorMartinique);
            margin-bottom: 20px;
        }
        p{
            @include textStyle(16px, 300, $themeColorBlueBayoux);
        }
    }
    .single-app{
        margin-top: 50px;
        height: auto;
        
    }    
    .single-app{
        padding: 30px;
        .app-icon{
            margin-bottom: 20px;
        }
        
        .app-text{
            h2{
                @include textStyle(20px, 300, $themeColorEbonyClay);
                margin-bottom: 15px;
            }
            p{
                @include textStyle(16px, 300, $themeColorBlueBayoux);
            }
        }
    }
}