.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-heading{
    .contact-icon{
        margin-bottom: 20px;
    }
    .contact-text{
        h2{
            @include textStyle(48px, 300, $themeColorEbonyClay);
            margin-bottom: 20px;
        }
        p{
            @include textStyle(23px, 300, $themeColorEbonyClay);
        }
    }
}

.contact-form{
    height: 100%;
    display: flex;
    align-items: center;
    
    .input-email{
        width: 560px;
        height: 80px;
        position: relative;
        
        input{
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 5px;
            padding: 30px;
            @include textStyle(23px, 300, $headingColorKimberly);
            @include boxShadowStyle(-6.691px, 7.431px, 20px, 0px, $boxShadowColor);
        }
        
        .input-overlay{
            position: absolute;
            background: $white;
            right: 30px;
            top: 30px;
            
            a{
                @include textStyle(15px, 400, $headingColorHeliotrope);
                text-transform: uppercase;
                
                &:hover{
                    color: $headingColorKimberly;
                }
            }
            img{
                padding-left: 10px;
            }
        }
    }
}

@include breakpointWidth(1199px){
    .contact-content{
        flex-direction: column;
        
        .contact-form{
            margin-top: 50px;
        }
    }
}


@include breakpoint(s){
    .contact-content{
        flex-direction: column;
        .contact-heading{
            .contact-icon{
                margin-bottom: 15px;
            }
            .contact-text{
                h2{
                    @include textStyle(28px, 300, $themeColorEbonyClay);
                    margin-bottom: 10px;
                }
                p{
                    @include textStyle(20px, 300, $themeColorEbonyClay);
                }
            }
        }
        .contact-form{
            margin-top: 30px;
            width: 100%;
            justify-content: center;
            .input-email{
                width: 400px;
                height: 20px;
            }
            input{
                padding: 25px;
                @include textStyle(16px, 300, $headingColorKimberly);
            }
            .input-overlay{
                right: 20px;
                top: 14px;
                a{
                    @include textStyle(12px, 400, $headingColorHeliotrope);
                }
                img{
                    padding-left: 5px;
                }
            }
        }
    }
}

@include breakpointWidth(410px){
    .contact-content{
        flex-direction: column;
        .contact-heading{
            .contact-icon{
                margin-bottom: 15px;
            }
            .contact-text{
                h2{
                    @include textStyle(25px, 300, $themeColorEbonyClay);
                    margin-bottom: 10px;
                }
                p{
                    @include textStyle(16px, 300, $themeColorEbonyClay);
                }
            }
        }
        .contact-form{
            margin-top: 15px;
            width: 100%;
            justify-content: center;
            .input-email{
                width: 300px;
                height: 20px;
            }
            input{
                padding: 25px 10px;
                @include textStyle(14px, 300, $headingColorKimberly);
            }
            .input-overlay{
                right: 10px;
                top: 12px;
                a{
                    @include textStyle(10px, 400, $headingColorHeliotrope);
                }
                img{
                    padding-left: 5px;
                }
            }
        }
    }
}