/*--- footer top ---*/
.footer-top-content{
    display: flex;
    justify-content: space-between;
}
.footer-widget-info{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;

    .footer-logo{
        margin-bottom: 50px;
    }

    .footer-info{
        h3{
            @include textStyle(16px, 300, $white);
        }
        a{
            margin-top: 20px;
            @include textStyle(16px, 400, $white);
            transition: 0.3s;

            &:hover{
                color: $footerTextColorComet;
            }
        }
    }
    
    .footer-menu{
        margin-top: 30px;

        ul{
            display: flex;
        }
        ul li{
            padding: 0px 15px;
        }
        ul li:first-child{
            padding-left: 0;
        }
        ul li a{
            @include textStyle(16px, 300, $footerTextColorComet);

            &:hover{
                color: $white;
            }
        }
    }
}

.footer-widget{

    h2{
        @include textStyle(16px, 300, $white);
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    ul li{
        padding: 15px 0px;
    }
    ul li a{
        @include textStyle(16px, 300, $white);
        transition: 0.3s;

        &:hover{
            color: $footerTextColorComet;
        }
    }
}

@include breakpoint(md){
    .footer-top-content{
        flex-wrap: wrap;
        .footer-widget-info{
            flex-basis: 50%;
        }
        .footer-widget{
            flex-basis: 50%;
        }
    }
}

@include breakpoint(sm){
    .footer-top-content{
        flex-wrap: wrap;
        .footer-widget-info{
            flex-basis: 50%;
        }
        .footer-widget{
            flex-basis: 50%;
        }
    }
}

@include breakpoint(s){
    .footer-top-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        .footer-widget{
           margin-top: 40px;
        }
    }
}

/*--- footer bottom --*/
.footer-bottom-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
    .copyright-text{
        h2{
            @include textStyle(16px, 300, $footerTextColorComet);
        }
    }
    .privacy-link{
        ul{
            display: flex;
        }
        ul li{
            padding: 0px 20px;
        }
        ul li:last-child{
            padding-right: 0px;
        }
        ul li a{
            @include textStyle(16px, 300, $footerTextColorComet);
            transition: 0.3s;
            
            &:hover{
                color: $white;
            }
        }
    }
}

@include breakpoint(s){
    .footer-bottom-content{
        flex-direction: column;
        text-align: center;
        .privacy-link{
            margin-top: 20px;
            ul{
                justify-content: center;
            }
        }
    }
}