.scrollup{
    font-size: 20px;
    background: $themeColorBlueBayoux;
    color: $white;
    width: 40px;
    height: 40px;
    padding: 3px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background: $themeColorMartinique;
    }
}