.slider-content{
    margin-top: 335px;
    width: 480px;
    
    h2{
        @include textStyle(48px, 700, $themeColorMartinique);
        margin-bottom: 50px;
    }
    p{
        @include textStyle(23px, 300, $themeColorBlueBayoux);
        margin-bottom: 42px;
    }
}

.btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .btn-second{
        padding-left: 35px;
    }
}

@include breakpointWidth(1199px){
    .slider-content{
        margin-top: 130px;
        width: 100%;
        text-align: center;
        
        h2{
            @include textStyle(48px, 700, $themeColorMartinique);
            margin-bottom: 50px;
        }
        p{
            @include textStyle(22px, 300, $themeColorBlueBayoux);
            margin-bottom: 42px;
            width: 80%;
            margin: 0 auto;
        }
    }    
    .btn-group{
        margin-top: 50px;
        justify-content: center;
    }
}

@include breakpoint(md){
    .slider-content{
        margin-top: 100px;
        
        h2{
            @include textStyle(40px, 700, $themeColorMartinique);
            margin-bottom: 45px;
        }
        p{
            @include textStyle(20px, 300, $themeColorBlueBayoux);
            margin-bottom: 42px;
            width: 100%;
            margin: 0 auto;
        }
    }    
    .btn-group{
        margin-top: 50px;
        justify-content: center;
    }
}

@include breakpoint(sm){
    .slider-content{
        margin-top: 100px;
        width: 100%;
        text-align: center;
        
        h2{
            @include textStyle(35px, 700, $themeColorMartinique);
            margin-bottom: 40px;
        }
        p{
            @include textStyle(18px, 300, $themeColorBlueBayoux);
            margin-bottom: 42px;
            width: 100%;
            margin: 0 auto;
        }
    }    
    .btn-group{
        margin-top: 50px;
        justify-content: center;
    }
}

@include breakpointWidth(575px){
    .slider-content{
        margin-top: 100px;
        width: 100%;
        text-align: center;
        
        h2{
            @include textStyle(30px, 700, $themeColorMartinique);
            margin-bottom: 40px;
        }
        p{
            @include textStyle(16px, 300, $themeColorBlueBayoux);
            margin-bottom: 42px;
            width: 80%;
            margin: 0 auto;
        }
    }    
    .btn-group{
        flex-direction: column;
        
        .btn-second{
            padding-top: 30px;
            padding-left: 0px;
        }
    }
}

@include breakpointWidth(500px){
    .slider-content{
        margin-top: 100px;
        width: 100%;
        text-align: center;
        
        h2{
            @include textStyle(25px, 700, $themeColorMartinique);
            margin-bottom: 35px;
        }
    }    
}

@include breakpointWidth(450px){
    .slider-content{
        margin-top: 100px;
        
        h2{
            @include textStyle(23px, 700, $themeColorMartinique);
            margin-bottom: 30px;
        }
        p{
            @include textStyle(15px, 300, $themeColorBlueBayoux);
            margin-bottom: 35px;
            width: 100%;
        }
    }    
}

@include breakpointWidth(375px){
    .slider-content{
        margin-top: 100px;
        
        h2{
            @include textStyle(20px, 700, $themeColorMartinique);
            margin-bottom: 30px;
        }
        p{
            @include textStyle(15px, 300, $themeColorBlueBayoux);
            margin-bottom: 35px;
            width: 100%;
        }
    }    
}