//solid color
$white: #fff;
$black: #000;

//theme color
$themeColorMartinique: #32325d;
$themeColorBlueBayoux: #525f7f;
$themeColorEbonyClay: #212240;

//button background color
$bgButton: #855CFF;
$bgButtonHover: #5536b3;

//background color
$bgContact: #FBFAFF;

//box shadow color
$boxShadowColor: #d4d4fa;

//heading text color
$headingColorKimberly: #8081ab;
$headingColorHeliotrope: #845cff;

//footer text color
$footerTextColorComet: #555377;