.blog-heading{
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    h2{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        color: $themeColor;
        letter-spacing: 1px;
    }
    .heading-bg-overlay{
        position: absolute;
        z-index: -1;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.1;
        h2{
            text-transform: uppercase;
            font-size: 72px;
            font-weight: 700;
            color: rgba(0,0,0,.5);
            letter-spacing: 1px;
        }
    }
}

/*--- Single Blog style ---*/
.single-blog{
    background: $white;
}

.blog-thumbnail{
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    img{
        transition: 0.3s;
    }
    &:hover{
        img{
            cursor: crosshair;
            transform: scale(1.1) rotate(2deg);
        }
    }
    .blog-tags{
        position: absolute;
        top: 5px;
        left: 5px;
        background: $white;
        padding: 5px 16px;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 400;
        color: $bodyColor;
        line-height: 12px;
        letter-spacing: .5px;
        i{
            margin-right: 1px;
        }
        a{
            text-transform: capitalize;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
            }
        }
    }
}

.blog-content{
    padding: 20px;
    .blog-title{
        margin-top: 20px;
        a{
            font-size: 24px;
            font-weight: 700;
            color: $black;
            line-height: 33px;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
            }
        }
    }
    .blog-post{
        margin-top: 18px;
        p{
            font-size: 15px;
            font-weight: 400;
            color: $bodyColor;
            line-height: 27px;
        }
    }
    .blog-button{
        margin-top: 18px;
    }
}

.blog-meta{
    margin-top: 12px;
    ul{
        display: flex;
        li{
            padding: 0 10px;
            &:first-child{
                padding-left: 0;
            }
        }
        li a{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: $themeColor;
            line-height: 18px;
            letter-spacing: 1.2px;
            transition: 0.3s;
            &:hover{
                color: $black;
            }
        }
    }
}

.grid-view{
    margin-bottom: 50px;
    .blog-content{
        padding: 0;
    }
}

/* single blog list style */
.single-blog-list{
    background: $white;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 50px 0;
}

.blog-list-thumbnail{
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    &::before{
        position: absolute;
        z-index: 1;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        transition: 0.3s;
        opacity: 0;
    }
    img{
        transition: 0.3s;
    }
    &:hover::before{
        opacity: 1;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}

.blog-list-content{
    .blog-list-title{
        margin-top: 30px;
        a{
            font-size: 32px;
            font-weight: 700;
            color: $black;
            line-height: 33px;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
            }
        }
    }
    .blog-list-post{
        margin-top: 20px;
        p{
            font-size: 15px;
            font-weight: 400;
            color: $bodyColor;
            line-height: 27px;
        }
    }
    .blog-list-button{
        margin-top: 30px;
    }
}

.blog-list-meta{
    margin-top: 20px;
    ul{
        display: flex;
        li{
            padding: 0 10px;
            &:first-child{
                padding-left: 0;
            }
            i{
                margin-right: 5px;
                font-size: 15px;
                font-weight: 400;
                color: $themeColor;
            }
        }
        li a{
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 400;
            color: $bodyColor;
            line-height: 18px;
            letter-spacing: 1.2px;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
            }
        }
    }
}

/*--- blog details style ---*/
.blog-title{
    margin-bottom: 20px;
    h2{
        font-size: 32px;
        font-weight: 700;
        color: $black;
    }
}

.blog-details-content{
    margin: 30px 0;
}

.blog-details-text{
    p{
        margin: 30px 0;
        font-size: 15px;
        font-weight: 400;
    }
}

.blog-quote{
    h2{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .quote-box{
        padding: 55px 50px 40px 50px;
        background-color: #f6f6f6;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0;
        border-left: 4px solid $themeColor;
        h3{
            font-style: italic;
            font-size: 15px;
            font-weight: 700;
            color: $bodyColor;
            line-height: 27px;
            position: relative;
            &::before{
                position: absolute;
                content: "\f10e";
                font-family: fontawesome;
                font-style: normal;
                font-size: 30px;
                color: $themeColor;
                top: 0;
                left: 20px;
                margin-top: -30px;
                
            }
        }
    }
}

.list-box{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15%;
        height: 1px;
        background-color: #eee;
    }
    .list-image{
        flex-basis: 46%;
    }
    .list-text{
        flex-basis: 47%;
        ul{
            display: flex;
            flex-direction: column;
            list-style-type: square;
            li{
                font-size: 15px;
                font-weight: 400;
                &:not(:first-child){
                    margin-top: 10px;
                }
            }
        }
    }
}

.blog-status{
    display: flex;
    justify-content: space-between;
}

.status-tag-list{
    display: flex;
    align-items: center;
    h2{
        font-size: 14px;
        font-weight: 400;
        color: $bodyColor;
        margin-right: 10px;
    }
    ul{
        display: flex;
        li{
            margin: 0 5px;
        }
        li a{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: $bodyColor;
            padding: 10px 15px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            &:hover{
                color: $themeColor;
                border: 1px solid $themeColor;
            }
        }
    }
}

.status-social-list{
    display: flex;
    align-items: center;
    h2{
        font-size: 14px;
        font-weight: 400;
        color: $bodyColor;
        margin-right: 10px;
    }
    ul{
        display: flex;
        li{
            margin: 0 5px;
        }
        li a i{
            width: 20px;
            height: 20px;
            padding: 18px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
                border: 1px solid $themeColor;
            }
        }
    }
}


/*--- Blog comments ---*/
.blog-comments{
    margin: 20px 0;
    h2{
        font-size: 24px;
        font-weight: 400;
        color: $black;
        padding: 30px 0;
    }
}

.single-comment{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.media-image{
    flex-basis: 25%;
    margin-right: 30px;
    img{
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.media-text{
    h2{
        font-size: 16px;
        font-weight: 700;
        color: $bodyColor;
        margin-bottom: 0;
        padding: 0;
    }
    a{
        font-size: 12px;
        font-weight: 400;
        color: $bodyColor;
        transition: 0.3s;
        &:hover{
            color: $themeColor;
        }
    }
    p{
        margin: 10px 0;
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
    }
}

.media-reply{
    a{
        margin: 10px 0;
        font-size: 13px;
        font-weight: 400;
        color: $themeColor;
    }
}

.comment-form{
    margin: 20px 0;
    h2{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        color: $black;
        margin-bottom: 20px;
    }
    textarea{
        width: 100%;
    }
    textarea,
    input{
        margin: 10px 0;
        font-size: 16px;
        font-weight: 400;
        color: $bodyColor;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 6px 5px 6px 45px;
        &::placeholder{
            text-transform: capitalize;
        }
        &:hover{
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
        &:focus{
            border: 1px solid $themeColor;
        }
    }
    input[type="submit"]{
        background-color: $themeColor;
        font-size: 16px;
        font-weight: 400;
        color: $white;
        padding: 8px 20px;
        border: 1px solid $themeColor;
        transition: 0.3s;
        &:hover{
            background-color: transparent;
            color: $themeColor;
            border: 1px solid $themeColor;
        }
    }
}

.reply-view{
    width: 100%;
    display: flex;
    .reply-input{
        &:not(:first-child){
            margin-left: 10px;
        }
    }
}

.reply-input{
    position: relative;
    margin-bottom: 20px;
    &::before{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-family: "FontAwesome";
        font-size: 15px;
        color: $themeColor;
        padding: 8px 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &.input-name::before{ content: "\f2c0"; }
    &.input-phone::before{ content: "\f10b"; }
    &.input-email::before{ content: "\f003"; }
    &.input-web::before{ content: "\f0c1"; }
    &.input-subject::before{ content: "\f27b"; }
    &.input-message::before{
        content: "\f27b";
        top: 30px;
    }
}

/*--- pagination style ---*/
.pagination{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 0;
    li{
        margin: 0 10px;
    }
    li a{
        font-size: 15px;
        font-weight: 400;
        color: $black;
        background: $white;
        padding: 13px 20px 10px 20px;
        border: 1px solid #ddd;
        &.active{
            color: $white;
            background: #333;
            border: 1px solid #333;
        }
    }
}

@include breakpointWidth(1199px){
    .reply-view{
        flex-wrap: wrap;
    }
}

@include breakpointWidth(991px){
    .single-blog{
        margin-bottom: 50px;
    }
}

@include breakpointWidth(767px){
    .blog-content{
        text-align: center;
    }
    
    .blog-meta{
        ul{
            display: flex;
            justify-content: center;
        }
    }

    .blog-list-meta{
        ul{
            flex-wrap: wrap;
            li{
                padding: 0px;
                margin: 5px;
            }
        }
    }

    .blog-status{
        flex-direction: column;
        .status-tag-list{
            margin-bottom: 30px;
            ul{
                flex-wrap: wrap;
                li{
                    margin: 10px;
                }
            }
        }
        .status-social-list{
            ul{
                flex-wrap: wrap;
                li{
                    margin: 10px;
                }
            }
        }
    }

    .reply-view{
        flex-direction: column;
        .reply-input{
            &:not(:first-child){
                margin-left: 0px;
            }
        }
        input{
            width: 100%;
        }
    }
}

@include breakpointWidth(575px){
    .list-box{
        flex-direction: column;
        .list-image{
            margin-bottom: 20px;
        }
    }

    .single-comment{
        flex-direction: column;
    }
}