.booking-content{
    text-align: center;
    .booking-text{
        h3{
            text-transform: uppercase;
            font-family: $cookieFont;
            font-size: 26px;
            font-weight: 400;
            color: $white;
            margin-bottom: 20px;
        }
        h2{
            font-size: 36px;
            font-weight: 500;
            color: $white;
        }
        span{
            color: $themeColor;
        }
    }
    .booking-button{
        margin-top: 20px;
    }
}

.cd-headline.clip span {
    padding: 0;
}

@include breakpointWidth(780px){
   .booking-content .booking-text h2{
       opacity: 0;
       visibility: hidden;
       display: none;
   }
}