.single-counter{
    padding: 10px;
    text-align: center;
    h2{
        text-transform: uppercase;
        font-style: italic;
        font-size: 50px;
        font-weight: 100;
        color: $white;
        line-height: 60px;
    }
    p{
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 400;
        color: $white;
        line-height: 47px;
    }
}

@include breakpointWidth(767px){
    .single-counter{
        margin-bottom: 20px;
    }
}