.product-heading{
    margin: 20px 0 10px 0;
    h2{
        text-transform: capitalize;
        font-size: 36px;
        font-weight: 500;
        color: $black;
        line-height: 50px;
    }
}

.single-product{
    margin-bottom: 50px;
}

.product-image{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    &:hover::before{
        opacity: 0.3;
        visibility: visible;
    }
    img{
        width: 100%;
        height: auto;
    }
    .sale{
        position: absolute;
        top: -6px;
        right: -6px;
        background: $themeColor;
        border-radius: 100%;
        padding: 2px 5px;
        a{
            font-size: 13px;
            font-weight: 700;
            color: $white;
            line-height: 41px;
            text-align: center;
        }
    }
}

.product-title{
    margin-top: 20px;
    a{
        font-size: 15px;
        font-weight: 500;
        color: $black;
        line-height: 21px;
    }
}

.product-price{
    margin-top: 10px;
    ul{
        display: flex;
        li{
            &:not(:first-child){
                padding-left: 5px;
            }
        }
        li a{
            font-size: 12px;
            font-weight: 400;
            color: $themeColor;
            line-height: 27px;
            del{
                opacity: 0.7;
            }
        }
    }
}

.product-button{
    margin-top: 20px;
}

/*--- single product style ---*/
.product-price{
    margin-bottom: 20px;
    p{
        font-size: 18px;
        font-weight: 400;
        color: $themeColor;
        del{
            opacity: 0.7;
            margin-right: 10px;
        }
        ins{
            font-weight: 700;
        }
    }
}

.product-title{
    margin-bottom: 20px;
    h2{
        font-size: 32px;
        font-weight: 700;
        color: $black;
    }
}

.product-details{
    margin-bottom: 30px;
    p{
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
    }
}

.product-button{
    margin-bottom: 20px;
}

.product-meta{
    ul{
        display: flex;
        flex-direction: column;
        li{
            margin: 5px 0;
        }
        li span,
        li a{
            font-size: 16px;
            font-weight: 400;
            color: $bodyColor;
        }
        li a{
            color: #999999;
            transition: 0.3s;
            &:hover{
                color: $themeColor;
            }
        }
    }
}

.related-title{
    margin-bottom: 20px;
    h2{
        font-size: 20px;
        font-weight: 400;
        color: $black;
    }
}

//reviews area style
.nav-tabs{
    display: flex;
    a{
        &:not(:first-child){
            margin-left: 15px;
        }
    }
    a.nav-link{
        border: none;
        border-bottom: 2px solid transparent;
        font-size: 14px;
        font-weight: 400;
        color: $black;
        transition: 0.3s;
        &.active,
        &:hover{
            border-bottom: 2px solid $themeColor;
            color: $themeColor;
        }
    }
}

.tab-content{
    margin-top: -2px;
    border-top: 1.9px solid $black;
    border-bottom: 1.9px solid $black;
    border-radius: 3px;
}

.description-tab{
    margin: 20px 0 20px 0;
    padding: 35px 0;
    h2{
        font-size: 18px;
        font-weight: 500;
        color: $black;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
    }
}

.review-tab{
    margin: 20px 0 20px 0;
    padding: 35px 0;
    h2{
        font-size: 18px;
        font-weight: 500;
        color: $black;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        color: $bodyColor;
    }
    h3{
        margin: 50px 0 30px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        color: $black;
    }
}

.review-form{
    form{
        .form-view{
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }
        label{
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }
        
        textarea,
        input{
            font-size: 16px;
            font-weight: 400;
            color: $black;
            border: 1px solid $black;
            &:focus{
                border: 1px solid $themeColor;
            }
        }
        input[type="submit"]{
            margin-top: 30px;
            border: 2px solid $black;
            width: fit-content;
            font-size: 15px;
            font-weight: 400;
            color: $black;
            padding: 5px 30px;
            transition: 0.3s;
            &:hover{
                background-color: $black;
                color: $white;
            }
        }
    }
}

/*--- my cart style ---*/
.cart-heading{
    h2{
        font-size: 32px;
        font-weight: 700;
        color: $black;
        margin-bottom: 50px;
    }
    h3{
        font-size: 18px;
        font-weight: 500;
        color: $black;
        margin-bottom: 20px;
    }
}

.my-cart-table{
    overflow-x: auto;
    table{
        width: 100%;
        border: 1px solid rgba(0,0,0,.1);
        th,td{
            border: 1px solid rgba(0,0,0,.1);
            vertical-align: middle;
            padding: 14px;
            font-size: 15px;
            font-weight: 400;
            line-height: 27px;
        }
        th{
            color: $black;
        }
        td{
            color: $bodyColor;
            a img{
                max-width: 66px;
            }
            &:first-child{
                text-align: center;
                color: $black;
            }
        }
        #quantity{
            padding: 15px;
            text-align: center;
            border: 1px solid $black;
            color: $bodyColor;
        }
    }
}

.cart-btn-group{
    display: flex;
    justify-content: space-between;
}

#c-code{
    padding: 5px;
    border: 1px solid $black;
    background: transparent;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: $black;
}

.cart-total-content{
    margin-top: 80px;
}

.total-table{
    table{
        width: 100%;
        border: 1px solid rgba(0,0,0,.1);
       // border-collapse: separate;
        tr{
            &:first-child{
                border-bottom: 1px solid rgba(0,0,0,.1);
            }
        }
        th,td{
            padding: 20px;
        }
        td{
            text-align: right;
        }
    }
}

.cart-button{
    margin-top: 30px;
    text-align: right;
}