.sidebar-widget{
    padding: 0 25px;
    margin-bottom: 60px;
}

.sidebar-widget{
    .widget-title{
        margin-bottom: 30px;
        h2{
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            line-height: 17px;
            color: $black;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            position: relative;
            &::before{
                position: absolute;
                content: "";
                bottom: -2px;
                left: 0;
                width: 50px;
                height: 2px;
                background: $themeColor;
                opacity: 0.8;
            }
        }
    }
}

.sidebar-widget .widget-list{
    ul{
        display: flex;
        flex-direction: column;
        li{
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        li a{
            font-size: 13px;
            font-weight: 400;
            color: $black;
            line-height: 18px;
            i{
                font-size: 14px;
                padding-right: 5px;
            }
        }
        .post-date a{
            color: $footerColor;
        }
    }
}

.widget-tags{
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin: 5px 0;
        }
        li a{
            display: inline-block;
            margin-right: 5px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: $themeColor;
            line-height: 27px;
            letter-spacing: 1px;
            padding: 6px 17px;
            background-color: transparent;
            border: 1px solid $themeColor;
            border-radius: 50px;
            transition: 0.20s linear;
            &:hover{
                color: $white;
                background-color: $themeColor;
                border: 1px solid $themeColor;
            }
        }
    }
}

.widget-archive-list{
    ul{
        display: flex;
        flex-direction: column;
        li{
            margin: 10px 0;
        }
        li a{
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 400;
            color: #999999;
            line-height: 25px;
            letter-spacing: 1px;
            transition: 0.3s ease;
            i{
                margin-right: 5px;
            }
            span{
                float: right;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #f1f1f1;
                text-align: center;
                transition: 0.3s ease;
            }
            &:hover{
                color: $themeColor;
                span{
                    color: $white;
                    background-color: $themeColor;
                }
            }
        }
    }
}

.search-keyword{
    form{
        position: relative;
        input{
            width: 100%;
            height: 45px;
            background-color: #fdfdfd;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,.1);
            padding: 5px;
            font-size: 15px;
            font-weight: 400;
            color: $bodyColor;
            line-height: 27px;
            transition: 0.20s linear;
            &:focus{
                border-bottom: 1px solid rgba(0,0,0,.3);
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
            }
        }
        .search-input{
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            font-size: 15px;
            font-weight: 400;
            color: $themeColor;
            line-height: 27px;
        }
    }
}


.about-content{
    background-image: url("../images/bg/coffee.jpg");
    background-position: center;
    background-size: cover;
    padding: 30px;
    text-align: center;
    position: relative;
    &::before{
        position: absolute;
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
    .overlay-content{
        position: relative;
        z-index: 5;
    }
}

.about-title{
    text-transform: uppercase;
    text-align: center;
    p{
        font-size: 15px;
        font-weight: 700;
        color: $black;
        line-height: 15px;
        letter-spacing: 5px;
        background-color: $white;
        padding: 14px 25px;
        display: inline-block;
    }
    h2{
        font-size: 28px;
        font-weight: 900;
        color: $white;
        line-height: 39px;
        white-space: pre-line;
    }
}

.sidebar-social-link{
    margin-top: 40px;
    ul{
        display: flex;
        justify-content: center;
        li{
            margin: 0 5px;
        }
        li a{
            font-size: 15px;
            font-weight: 400;
            color: $white;
            line-height: 40px;
            background-color: $themeColor;
            padding: 15px;
            border-radius: 50%;
            transition: 0.20s linear;
            &:hover{
                color: $themeColor;
                background-color: $white
            }
        }
    }
}

.about-text{
    background-color: $themeColor;
    padding: 40px 30px;
    p{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: $white;
        line-height: 27px;
        word-spacing: 1px;
    }
}

@include breakpointWidth(480px){
    .sidebar-social-link{
        ul{
            li a{
                padding: 10px;
            }
        }
    }
}