//font family included
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

$titilliumWebFont: 'Titillium Web', sans-serif;

//solid color
$white: #fff;
$black: #000;
$yellow: yellow;

//theme color
$themeColor: #2500f9;
$bodyColor: #616368;
$hoverColor: #b67037;

//text color
$titleColor: #242F51;
$subTitleColor: #242F51;
$textColor: #616368;

//button color
$bgBtnColor: #18C2A5;
$bgBtnColor: #15A58C;
$bgBtnColor: #30BAE8;
$bgBtnColor: #194858;
$bgBtnColor: #30BAE7;

//background color
$bgSlider: #86509C;
$bgService: #18C2A5;
$bgTeam: #E7F2F8;
$bgPortfolio: #FFDC98;
$bgTestimonial: #D74681;
$bgContact: #3C549A;
$bgFooter: #344B8E;