.btn{
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    padding: 20px 60px;
    transition: 0.3s;
    &:hover{
        color: $white;
    }
    &.btn-slider{
        background-color:  #EB7D4C;
        border-bottom: 4px solid #C9693F;
        transition: 0.3s;
        &:hover{
            background-color: #C9693F;
        }
    }
    &.btn-portfolio{
        background-color: #30BAE8;
        border-bottom: 4px solid #2A9EC5;
        transition: 0.3s;
        &:hover{
            background-color: #2A9EC5;
        }
    }
}

@include breakpointWidth(767px){
    .btn{
        padding: 15px 45px;
    }
}

@include breakpointWidth(480px){
    .btn{
        font-size: 14px;
        padding: 10px 30px;
    }
}