//font family included
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$poppinsFont: 'Poppins', sans-serif;

//solid color
$white: #fff;
$black: #000;
$red: red;

//theme color
$themeColor: #1360ef;
$bodyColor: #1d1d33;
$hoverColor: #f94f15;

//text color
$titleColor: #f8f9fa;
$subTitleColor: #8c98a4;
$textColor: #8090b5;